@media screen and (min-width: 768px) and (max-width: 1024px) {
    #media-1024 {
        display: block
    }
}

body {
    background-color: #2d422d;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_two {
    padding-top: 180px !important;
}

.myself img {
    max-width: 31% !important;
    margin-left: -2px !important;
}

.myself-text {
    padding-left: 0px !important;
}